* {
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: 0px auto;
    justify-content: space-between;
    display: flex;
}

body {
    font-family: "TS-Reg", sans-serif;
}

header div {
    padding: 15px 0px;
}

header img {
    width: 200px;
}

.button-header {
    all: unset;
    gap: 10px;
    display: flex;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

.button-header:hover {
    background-color: rgb(195, 195, 195);
}

.button-black {
    background-color: black;
    color: white;
}

.button-black:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-container {
    display: flex;
    gap: 20px;
}

.icons {
    font-family: "TS-Icon", sans-serif;
}

.icon-pencil::before {
    content: "\e00f";
}

.icon-heart::before {
    content: "\e011";
}